@import 'variables';

.about {
    position: relative;
    background-color: $lightBlueBg;
    padding: 80px 0 0;
    &Wrap {
        background-color: $blue;
        padding: 100px 50px;
        color: white;
        border-radius: 20px;
        max-width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media screen and (min-width: 1280px) {
            max-width: 1200px;
        }
         
    }
    &Title {
        font-size: 2rem;
        margin-bottom: 20px;
        font-weight: 800;
        letter-spacing: 0;
        line-height: .9;
        max-width: 50%;
        font-size: 56px;
        color: #fff;
    }
    &Col {
        position: relative;
        flex: 0 0 calc((100% - 20px) / 2);
        box-sizing: border-box;
         
        .man1, img {
            width: 70%;
            display: block;
            margin: 0 auto;
            position: relative;
        }
        .man2 {
            
            position: relative;
           
        }
        .strawberry-1 {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            max-width: 100px;
            rotate: 120deg;
             
        }
        &.fourth {
            .strawberry-1 {
                rotate: 20deg;
            }
        }
    }
}