.banner{
    position: relative;
    width: 100%;
    height: calc(100vh - 96px);
    background-color: #f1f9dc;
    color: white;
    
    &Content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 90%;
        padding: 10px 0;
        height: auto;
        text-align: center;
        margin: 0 auto;
        z-index: 2;
        @media screen and (min-width: 768px) {
            padding: 40px 0;
        }
        @media screen and (min-width: 1024px) {
            max-width: 60%;
            padding: 180px 0;
        }
        @media screen and (min-width: 1280px) {
            max-width: unset;
        }
         
    }
    &Title {
        color: $green;
        font-size: 36px;
        position: relative;
        margin: 0 auto;
        text-align: center;
        line-height: normal;
        max-width: 90%;
        @media screen and (min-width: 768px) {
            font-size: 70px;
        }
        @media screen and (min-width: 1024px) {
            max-width: 700px;
             
        }
        @media screen and (min-width: 1280px) {
            font-size: 80px;
        }
    }
    &Text {
        color: $darkText;
        font-size: 18px;
        text-align: center;
        margin-bottom: 50px;
        max-width: 60%;
        margin: 40px auto;
        @media screen and (min-width: 1024px) {
            max-width: 700px;
            font-weight: 700;
        }
    }
    .strawberry-1 {
        position: absolute;
        width: 100%;
        height: auto;
        max-width: 100%;
        bottom: -150px;
        margin: 0 auto;
        right: 0;
        left: 0;
        max-width: 500px;
        @media screen and (min-width: 768px) {
            max-width: 500px;
        }
    }
     
}