
.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.card {
    perspective: 1000px;
    width: calc(25% - 20px);
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;

    &.flipped {
        .card-inner {
            transform: rotateY(180deg);
        }
    }
    .close-button {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: unset;
        background-color: unset;
        font-size: 12px;
        color: #fff;
    }
     
}

.card-inner {
    position: relative;
    width: 100%;
    padding-top: 100%;  
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
}

.card-front {
    background: #fff9e1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.card-back {
    background-color: #0e3a25;
    //background: url('../images/carrots-farm.jpg') no-repeat center center / cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;

    h2 {
        padding: 0;
        margin: 0;
        font-size: 23px;
        //order: 1;
        
        @media screen and (min-width: 1024px){
            font-size: 40px;
            order: unset;
        }
    }
     
    img {
       max-width: 50px;
       //order: 2;
       margin-top: auto;
        @media (max-width: 768px) {
            order: unset;
            padding-top: 0 !important;
        }
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

 