.contact {
    position: relative;
    width: 100%;
    background-color: #f1f3f4;
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0 0;
    max-width: 90%;
    margin: 0 auto;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
        max-width: 1200px;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    &Title {
        color: #263415;
        margin-bottom: 20px;
    }
    &Col {
        width: 100%;
        flex-basis: 100%;
        max-height: 90%;
        overflow: hidden;
        @media screen and (min-width: 1280px) {
            width: 50%;
            flex-basis: 50%;
            max-width: 1200px;
        }
        &:first-child {
            flex: 1;
            padding: 30px 0px;
        }
        &:last-child {
            position: relative;
             
            @media screen and (min-width: 1280px) {
                flex: 1;
                margin-right: calc(-50vw + 50%);
                width: calc(100vw - 600px);
            }
        }
    }
    .gm-style .place-card-large {
        display: none !important;
    }
    .socialList {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 20px;
        margin-top: 40px;
         
        li {
            margin: 0;
            a {
                color: #263415;
                font-size: 20px;
            }
        }
    
    }
    
}

#map-container {
    position: relative;
    width: 100%;
    height: calc(90vh - 97px);  
    overflow: hidden;
    border: none;  
    box-shadow: none;  
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;  
}
.contactForm {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    max-width: 100%;
    @media screen and (min-width: 768px) {
        max-width: 90%;
    }
    @media screen and (min-width: 1280px) {
        max-width: 90%;
    }
}

.contactFormWrap {
    width: 100%;
    max-width: 90%;
}

.contactFormInput {
    margin-bottom: 20px;
}

.contactFormLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Archivo Black", sans-serif;
}

.contactFormInputField {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contactFormButton {
    padding: 10px 20px;
    background-color: #f1f3f4;
    color: white;
    border: 1px solid #263415;
    border-radius: 4px;
    cursor: pointer;
    color: #263415;
}

.contactFormButton{
    &:hover {
        background-color: #263415;
        color: white;
    }
    
}

 
