.contact {
    position: relative;
    width: 100%;
    background-color: #f1f3f4;
    //display: flex;
    //flex-wrap: wrap;
    padding: 0;
    //max-width: 90%;
     
    flex-direction: column;
    @media screen and (min-width: 1280px) {
        padding: 70px 0 0;
        //max-width: 1200px;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    &Inner {
        max-width: 90%;
        margin: 0 auto;
        @media screen and (min-width: 1280px) {
            max-width: 1200px;
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    &Title {
        color: #263415;
        margin-bottom: 20px;
    }
    &Col {
        width: 100%;
        flex-basis: 100%;
        max-height: 90%;
        overflow: hidden;
        margin-bottom: 30px;
        @media screen and (min-width: 1280px) {
            width: 50%;
            flex-basis: 50%;
            max-width: 1200px;
        }
         
    }
    .gm-style .place-card-large {
        display: none !important;
    }
    .socialList {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 20px;
        margin-top: 40px;
         
        li {
            margin: 0;
            a {
                color: #263415;
                font-size: 20px;
            }
        }
    
    }
    .success {
        background-color: #b4dfc0;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-family: "Dosis", sans-serif;
        box-sizing: border-box;
    }
    .error {
        background-color: #f8d7da;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-family: "Dosis", sans-serif;
        width: 100%;
        margin-top: 5px;
        box-sizing: border-box;
        
    }
    
}

#map-container {
    position: relative;
    width: 100%;
    height: 400px;  
    overflow: hidden;
    border: none;  
    box-shadow: none;  
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;  
}
.contactForm {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    max-width: 100%;
    @media screen and (min-width: 768px) {
        max-width: 90%;
    }
    @media screen and (min-width: 1280px) {
        max-width: 90%;
    }
}

.contactFormWrap {
    width: 100%;
    max-width: 100%;
}

.contactFormInput {
    margin-bottom: 20px;
    width: 100%;
}

.contactFormLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Archivo Black", sans-serif;
}

.contactFormInputField {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contactFormButton {
    padding: 10px 20px;
    background-color: #f1f3f4;
    color: white;
    border: 1px solid #263415;
    border-radius: 4px;
    cursor: pointer;
    color: #263415;
}

.contactFormButton{
    &:hover {
        background-color: #263415;
        color: white;
    }
    
}

 
