@import 'reset';
@import 'variables';
@import 'base';
@import 'header';
@import 'main';
@import 'wave';
@import 'keyframes';
@import 'buttons';
@import 'banner';
@import 'slick';
@import 'footer';
@import 'social';
@import 'tips';
@import 'faqs';
@import 'about';
@import 'contact';
@import 'fresh';
@import 'news';
@import 'bounce';
@import 'card';

 
 